.img {
    margin-bottom: 12px;
    border-radius: 12px;
    width: 100%;
    aspect-ratio: 302 / 286;
    object-fit: cover;
}

.title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    line-height: 127%;
    color: #222;
}

.titleWraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.rating {
    display: flex;
    gap: 4px;
    align-items: center;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 127%;
    text-align: right;
    color: #222;
}

.description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 127%;
    color: #717171;
}

.date {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 146%;
    color: #717171;
}

.price {
    margin-top: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 127%;
    color: #222;

    strong {
        font-weight: 600;
    }
}

.descWraper {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.card {
    position: relative;
    

}

.link {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}


