.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    overflow-y: auto;
    transition: opacity 0.3s;
    z-index: 9999; 
    pointer-events: all;

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;

        border: 1px solid #b0b0b0;
        border-radius: 10px;
        width: 400px;
        height: 500px;
        background-color: #fff;
    }

    &__content-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__content-input {
        border: 1px solid #b0b0b0;
        border-radius: 10px;
        width: 300px;
        height: 35px;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: 15px;
        line-height: 127%;
        color: #717171;

        padding: 8px 10px;

        &--active {
            color: #222;
            border: 1px solid #222;
        }
    }



    &__content-title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 20px;
        line-height: 90%;
        color: #222;

        padding-bottom: 40px;
    }

    &__content-btn {
        padding-top: 30px;

    }

    &__content-button {
        background-color: #06f;;
        border-radius: 10px;
        width: 150px;
        height: 35px;

        font-family: var(--font-family);
        font-weight: 600;
        font-size: 20px;
        line-height: 90%;
        color: #fff;

        &:hover {
            color: #fff;
            background-color: #0752C3;
          }
    }
}


